@{
    ViewData["Title"] = "Blog";
}
<h1 style="color: white">@ViewData["Title"]</h1>

<p style="color: white"> test using command inline
    <kbd>cd test
    </kbd>.
</p>
<pre style="background-color: rgb(45, 45, 45);">
    <code style="color: white">
    int i = 0;
    for j in i {
        let j = 0;
    }
    </code>
</pre>
<samp style="color: white">
    output from something
</samp>
