@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="container">
        <div class="center">
            <div class="page-content">
                <div class="container">
                    <div class="padding-top vstack gap-3">
                        <p></p>
                        <p style="color: white;">
                            Software Developer since 2020.
                        </p>
                        <p style="color: white;">
                            Currently I work as a swift mobile development and C# backend development.
                            I created this blog to organize what projects I am currently working on.
                        </p>

                        <p style="color: white;">
                            How to reach me:
                        </p>
                    </div>
                    <div class="padding-top vstack gap-3">
                        <div class="hstack gap-3">
                            <a style="color: rgb(44, 163, 184);"
                                href="https://www.linkedin.com/in/micahkimel/">linkedin</a>
                            <a style="color: rgb(44, 163, 184);" href="https://github.com/MicahKimel">github</a>
                            <a style="color: rgb(44, 163, 184);"
                                href="https://stackoverflow.com/users/13569949/micah">stackoverflow</a>
                        </div>

                        <div class="hstack gap-3">
                            <img src="~/assets/backpacking01.jpeg" style="height: 200px;"
                                class=" img-fluid rounded mx-auto d-block" alt="backpacking01">
                            <img src="~/assets/backpacking02.jpg" style="height: 200px;"
                                class=" img-fluid rounded mx-auto d-block" alt="backpacking02">
                            <img src="~/assets/backpacking03.jpg" style="height: 200px;"
                                class=" img-fluid rounded mx-auto d-block" alt="backpacking03">
                            <img src="~/assets/backpacking04.jpg" style="height: 200px;"
                                class=" img-fluid rounded mx-auto d-block" alt="backpacking04">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>