@{
    ViewData["Title"] = "Inquiry";
}
<br />
<h1 style="color: white">@ViewData["Title"]</h1>

<h2 style="color: white">@ViewData["Name"]</h1>

    <p style="color: white">@ViewData["Description"]</p>

    <form class="row g-3 needs-validation" novalidate>
        <div class="col-md-4 position-relative">
            <label for="validationTooltip01" class="form-label">First name</label>
            <input type="text" class="form-control" id="validationTooltip01" value="" required>
            <div class="valid-tooltip">
                Looks good!
            </div>
            <div class="invalid-tooltip">
                Please enter a First Name.
            </div>
        </div>
        <div class="col-md-4 position-relative">
            <label for="validationTooltip02" class="form-label">Last name</label>
            <input type="text" class="form-control" id="validationTooltip02" value="" required>
            <div class="valid-tooltip">
                Looks good!
            </div>
            <div class="invalid-tooltip">
                Please enter a Last Name.
            </div>
        </div>
        <div class="col-md-4 position-relative">
            <label for="validationTooltipUsername" class="form-label">Username</label>
            <div class="input-group has-validation">
                <input type="text" class="form-control" id="validationTooltipUsername"
                    aria-describedby="validationTooltipUsernamePrepend" required>
                <div class="invalid-tooltip">
                    Please enter a email.
                </div>
            </div>
        </div>
        <div data-mdb-input-init class="form-outline mb-3" style="width: 100%; max-width: 22rem">
            <label for="phonenum">Phone Number (format: xxxx-xxx-xxxx):</label><br />
            <input id="phonenum" type="tel" pattern="^\d{4}-\d{3}-\d{4}$" required>
            <label class="form-label" for="phone">Phone number with country code</label>
            <div class="invalid-tooltip">
                Please enter a phone.
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Submit form</button>
        </div>
    </form>
    <script>
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()
    </script>