@{
    ViewData["Title"] = "Packages";
}
<div class="py-1">
    <h1 class="title" style="color: rgb(255, 255, 255)">@ViewData["Title"]</h1>
</div>

<div class=" has-ratio button link container ">
    <a class=" has-ratio " asp-area="" asp-controller="Home" asp-action="Inquiry" asp-route-id="1">
        <h2 class=" has-ratio title is-5" style="color: white">Kullu $3,000 or ₹80,000 (prices
            by
            location)</h2>
        <p style="color: white">Including air travel, taxi, and hotel.</p>
        <img src="~/assets/kullunight.jpg" style="height: 500px;" class="has-ratio image is-16by9" alt="...">
    </a>
</div>

<div class="has-ratio button link container ">
    <a class="has-ratio" asp-area="" asp-controller="Home" asp-action="Inquiry" asp-route-id="2">
        <h2 class="has-ratio title is-5" style="color: white">Manali $3,000 or ₹80,000 (prices by location)</h2>
        <p style="color: white">Including air travel, taxi, and hotel.</p>
        <img src="~/assets/Manali.jpg" style="height: 500px;" class="has-ratio image is-16by9 has-ratio" alt="...">
    </a>
</div>

<div class="has-ratio py-1 button link container">
    <a class="has-ratio link" asp-area="" asp-controller="Home" asp-action="Inquiry" asp-route-id="3">
        <h2 class="has-ratio title is-5" style="color: white">Kasol/Manikaran $4,000 or ₹120,000 (prices by location)
        </h2>
        <p style="color: white">Including air travel, taxi, and hotel.</p>
        <img src="~/assets/kasolmanikaran.jpg" style="height: 500px;" class="has-ratio  image is-16by9" alt="...">
    </a>
</div>

<div class="has-ratio py-1 button link container">
    <a class="has-ratio link" asp-area="" asp-controller="Home" asp-action="Inquiry" asp-route-id="4">
        <h2 class="has-ratio title is-5" style="color: white">Hampta Pass $5,000 or ₹150,000 (prices by location)</h2>
        <p style="color: white">Including air travel, taxi, and hotel.</p>
        <img src="~/assets/HamptaPass01.jpg" style="height: 500px;" class="has-ratio  image is-16by9" alt="...">
    </a>
</div>

<div class="has-ratio py-1 button link container">
    <a class="has-ratio link" asp-area="" asp-controller="Home" asp-action="Inquiry" asp-route-id="5">
        <h2 class="has-ratio title is-5" style="color: white">Spiti $5,000 or ₹150,000 (prices by location)</h2>
        <p style="color: white">Including air travel, taxi, and hotel.</p>
        <img src="~/assets/spiti01.jpg" style="height: 500px;" class="has-ratio  image is-16by9" alt="...">
    </a>
</div>

<div class="has-ratio py-1 button link container">
    <a class="has-ratio link" asp-area="" asp-controller="Home" asp-action="Inquiry" asp-route-id="6">
        <h2 class="has-ratio title is-5" style="color: white">Ladakh $5,000 or ₹150,000 (prices by location)</h2>
        <p style="color: white">Including air travel, taxi, and hotel.</p>
        <img src="~/assets/ladakh01.jpg" style="height: 500px;" class="has-ratio  image is-16by9" alt="...">
    </a>
</div>
