@{
    ViewData["Title"] = "Packages";
}
<br />
<h1 style="color: white">@ViewData["Title"]</h1>

<br />
<h2 style="color: white">Kullu</h2>
<img src="~/assets/kullunight.jpg" style="height: 500px;" class=" img-fluid rounded mx-auto d-block w-100" alt="...">
<br />
<h2 style="color: white">Manali</h2>

<img src="~/assets/Manali.jpg" style="height: 500px;" class=" img-fluid rounded mx-auto d-block w-100" alt="...">
<br />
<h2 style="color: white">Kasol/Manikaran</h2>

<img src="~/assets/kasolmanikaran.jpg" style="height: 500px;" class=" img-fluid rounded mx-auto d-block w-100"
    alt="...">
<br />
<h2 style="color: white">Hampta Pass</h2>


<img src="~/assets/HamptaPass01.jpg" style="height: 500px;" class=" img-fluid rounded mx-auto d-block w-100" alt="...">
<br />
<h2 style="color: white">Spiti</h2>


<img src="~/assets/spiti01.jpg" style="height: 500px;" class=" img-fluid rounded mx-auto d-block w-100" alt="...">
<br />
<h2 style="color: white">Ladakh</h2>
<img src="~/assets/ladakh01.jpg" style="height: 500px;" class=" img-fluid rounded mx-auto d-block w-100" alt="...">
