<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - My Place Tour and Travel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bulma/bulma.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/blog.styles.css" asp-append-version="true" />
    <link runat="server" rel="shortcut icon" href="~/myicon.ico" type="image/x-icon" />
    <link runat="server" rel="icon" href="~/myicon.ico" type="image/ico" />
</head>

<body>
    <header style="background-color: rgb(181, 118, 60);">
        <nav class="navbar" role="navigation" aria-label="main navigation" style="background-color: rgb(181, 118, 60);">
            <div class="navbar-brand">
                <a role="button" class="navbar-burger is-active" aria-label="menu" aria-expanded="false"
                    data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbarBasicExample" class="navbar-menu is-active">
                <div class="navbar-start">

                    <img src="~/assets/logo.png" style="height: 60px;" class=" img-fluid rounded mx-auto " alt="...">
                    <a style="color: rgb(57, 76, 77); font-family: 'Helvetica';" class="navbar-item" asp-area=""
                        asp-controller="Home" asp-action="Index">HOME</a>
                    <a style="color: rgb(57, 76, 77); font-family: 'Helvetica';" class="navbar-item" asp-area=""
                        asp-controller="Home" asp-action="Packages">PACKAGES</a>
                    <a style="color: rgb(57, 76, 77); font-family: 'Helvetica';" class="navbar-item" asp-area=""
                        asp-controller="Home" asp-action="Inquiry">INQUIRY</a>
                    <a style="color: rgb(57, 76, 77); font-family: 'Helvetica';" class="navbar-item" asp-area=""
                        asp-controller="Home" asp-action="Gallery">GALLERY</a>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button link">
                                <strong>Sign up</strong>
                            </a>
                            <a class="button is-light">
                                Log in
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top card-footer-item text-muted" style="color: white;">
        <div class="container" style="color: white;">
            &copy; 2024 - My Place Tour and Travel
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });

        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
